<%- include('partials/header'); -%>
    <div class="create-blog content">
        <form>
          <label for="EventName">Event Name:</label>
          <input type="text" id="Ename" name="Ename" value="<%=calender.Ename%>"required>
          <label for="location">Location:</label>
          <input type="text" id="loc" name="loc" value="<%=calender.loc%>" required>
          <label for="StartTime">StartTime:</label>
          <!-- <input type="text" id="sTime" name="sTime" value="<%=calender.sTime%>" required> -->
          <select id="sTime"  name="sTime" value="<%=calender.sTime%>" required>
            <option selected disabled hidden><%=calender.sTime%></option>
            <option>9</option>
            <option>9.5</option>
            <option>10</option>
            <option>10.5</option>
            <option>11</option>
            <option>11.5</option>
            <option>12</option>
            <option>12.5</option>
            <option>13</option>
            <option>13.5</option>
            <option>14</option>
            <option>14.5</option>
            <option>15</option>
            <option>15.5</option>
            <option>16</option>
            <option>16.5</option>
            <option>17</option>
            <option>17.5</option>
            <option>18</option>
            <option>18.5</option>
            <option>19</option>
            <option>19.5</option>
            <option>20</option>
            <option>20.5</option>
          </select>
          <label for="EndTime">EndTime:</label>
          <!-- <input type="text" id="eTime" name="eTime" value="<%=calender.eTime%>" required> -->
          <select id="eTime" name="eTime" required>
            <option selected disabled hidden><%=calender.eTime%></option>
            <option>9</option>
            <option>9.5</option>
            <option>10</option>
            <option>10.5</option>
            <option>11</option>
            <option>11.5</option>
            <option>12</option>
            <option>12.5</option>
            <option>13</option>
            <option>13.5</option>
            <option>14</option>
            <option>14.5</option>
            <option>15</option>
            <option>15.5</option>
            <option>16</option>
            <option>16.5</option>
            <option>17</option>
            <option>17.5</option>
            <option>18</option>
            <option>18.5</option>
            <option>19</option>
            <option>19.5</option>
            <option>20</option>
            <option>20.5</option>
          </select>
          <button>Update</button>
        </form>
    
       
      </div>
 <script>
        const form = document.querySelector('form')
        form.addEventListener('submit', async (e)=>{
          e.preventDefault()
          const Ename = form.Ename.value
          const loc = form.loc.value
          const sTime = form.sTime.value
          const eTime = form.eTime.value
        
        try {
           
                const result = await fetch("/<%=calender._id%>", {
                    method: 'PUT',
                    body: JSON.stringify({Ename, loc, sTime, eTime}),
                    headers: { 'Content-Type': 'application/json' }
                })
                window.location.href = '/calender'
              }catch(e){
                console.log(e)
              }

            })
      </script>

<%- include('partials/footer'); -%>